*{
    margin: 0px;
    border: 0px;
}
#div1{
    width: 1510px;
    height: 721.6px;
    position: absolute;
}
#horizontal{
    width: 1510px;
    height: 80px;
    display: flex;
    position: fixed;
    z-index: 10;
    background-color: white;
}
.logo{
    height: 45.96px;
    width: 400px;
    position: absolute;
    margin-left: 30px;
}
.title1{
    max-width: 50%;
    height: auto;
    margin-top: 20px;
}
.search{
    height: 80px;
    width: 400px;
    position: absolute;
    margin-left: 260px;
}
.title2{
    border: solid rgb(171,171,171) 1px;
    height: 40px;
    width: 400px;
    background-color: rgb(247,246,251);
    border-radius: 10px;
    margin-top: 20px;
    z-index: 10;
}
.wordsearch{
    background-color:rgb(247,246,251) ;
    color: rgb(111,111,111);
    position: relative;
    height: 34px;
    width: 340px;
    bottom: 1px;
    left: 30px;
    outline: none;
    border: none;
}
.glass{
    position: relative;
    right: 340px;
    bottom: -2px;
}
.list{
    height: 80px;
    width: 600px;
    position: absolute;
    margin-left: 740px;
}
.title3{
    background-color: white;
    color: rgb(111,111,111);
    margin-top: 30px;
    width: 80px;
}
.title3:hover{
    color:rgb(90,105,229); ;
}
.title4{
    background-color: white;
    color: rgb(111,111,111);
    margin-top: 30px;
    width: 80px;
}
.title4:hover{
    color:rgb(90,105,229); ;
}
.title5{
    background-color: white;
    color: rgb(111,111,111);
    margin-top: 30px;
    width: 100px;
}
.title5:hover{
    color:rgb(90,105,229); ;
}
.title6{
    background-color: white;
    color: rgb(111,111,111);
    margin-top: 30px;
    width: 100px;
}
.title6:hover{
    color:rgb(90,105,229); ;
}
.account{
    height: 40px;
    width: 40px;
    position: absolute;
    margin-left: 1440px;
}
.title7{
    height: 40px;
    width: 40px;
    margin-top: 20px;
}
#vertical{
    margin-top: 75px;
    background-color: white;
    position: fixed;
    display: flex;
    z-index: 10;
    width: 240px;
}
#choice{
    position: absolute;
    height: 400px;
    width: 250px;
}
.app1{
    width: 190px;
    height: 50px;
    background-color: white;
    display: block;
    background-color: rgb(241,244,253);
    font-size: 18px;
    position: relative;
    left: 30px;
    border-radius: 10px;
}
.app2{
    height: 40px;
    background-color: white;
    display: block;
    color: rgb(111,111,111);
    font-size: 17px;
    position: relative;
    left: 12px;
}
.app2:hover{
    color:rgb(90,105,229); ;
}
.app3{
    height: 40px;
    background-color: white;
    display: block;
    color: rgb(111,111,111);
    font-size: 17px;
    position: relative;
    left: 12px;
}
.app3:hover{
    color:rgb(90,105,229); ;
}
.app4{
    height: 40px;
    background-color: white;
    display: block;
    color: rgb(111,111,111);
    font-size: 17px;
    position: relative;
    left:12px
}
.app4:hover{
    color:rgb(90,105,229); ;
}
.app5{
    height: 40px;
    background-color: white;
    display: block;
    color: rgb(111,111,111);
    font-size: 17px;
    position: relative;
    left: 12px
}
.app5:hover{
    color:rgb(90,105,229); ;
}
.app6{
    height: 40px;
    background-color: white;
    display: block;
    color: rgb(111,111,111);
    font-size: 17px;
    position: relative;
    left: 12px
}
.app6:hover{
    color:rgb(90,105,229); ;
}
.app7{
    height: 40px;
    background-color: white;
    display: block;
    color: rgb(111,111,111);
    font-size: 17px;
    position: relative;
    left: 12px
}
.app7:hover{
    color:rgb(90,105,229); 
}
.app8{
    width: 190px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    display: block;
    color: rgb(111,111,111);
    font-size: 18px;
    position: relative;
    left: 30px;
}
.app8:hover{
    background-color: rgb(241,244,253); 
    color:rgb(90,105,229);
}
li{
    color: rgb(111,111,111);
    position: relative;
    left: 20px
}
.app9{
    height: 300px;
    width: 200px;
    object-fit: cover;
    position: relative;
    left: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px  rgb(234, 233, 233);
}
.icon2{
    position: relative;
    right: 50px;
}
.icon1{
    position: relative;
    right: 30px;
    color:rgb(104,120,233);
}
.fold1{
    position: relative;
    right: 10px;
    color:rgb(104,120,233);

}
.fold2{
    position: relative;
    right: 30px;
}
#div2{
    position: absolute;
    height: 3060px;
    width: 1260px;
    margin-left: 258px;
    margin-top: 90px;
    border-radius: 10px;
    background-color: white
}
.tab1{
    position:absolute;
    height: 260px;
    width: 780px;
    background-color: rgb(116,113,223);
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 20px;
}
.tab11{
    color: white;
    width: 400px;
    margin-left: 30px;
    position: relative;
    top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.tab12{
    font-weight: normal;
    color: rgb(214,213,241);
    margin-top: 30px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.tab13{
    position: relative;
    left: 480px;
    bottom: 140px;
}
.tab14{
    border-radius: 50%;
    margin-bottom: 150px;
    background-color: white;
    fill: none;
}
.tab15{
    border-radius: 50%;
    margin-bottom: 150px;
    fill: none;
    background-color: rgb(223,222,244);
}
.tab2{
    position:absolute;
    height: 260px;
    width: 380px;
    background-color: rgb(254,207,209);
    border-radius: 10px;
    margin-left: 840px;
    margin-top: 20px;
}
.tab21{
    color: rgb(65,66,98);
    width: 250px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.tab22{
    color: rgb(90,105,229);
    margin-top: 10px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.tab23{
    position: relative;
    left: 190px;
    bottom: 90px;
}
.tab3{
    height: 50px;
    width: 1260px;
    position: absolute;
    margin-top: 300px;
}
.tab31{
    margin-left: 40px;
    color: rgb(36,44,81);
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}
.tab32{
    position: relative;
    bottom: 25px;
    left: 1180px;
    width: 80px;
    color: rgb(94,110,232);
    font-family: Arial, Helvetica, sans-serif;
}
.tab4{
    position: absolute;
    margin-top: 380px;
    height: 400px;
    width: 1260px;
}
.list11{
    border-radius: 10px;
    margin-left: 40px;
    width: 1180px;
    height: 360px;
    background-color: white;
    position: absolute;
}
.tab40{
    height: 130px;
    width: 400px;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
}
.tab41{
    position: absolute;
    height: 70px;
    width: 70px;
}
.tab42{
    position: absolute;
    margin-left: 100px;
    width: 190px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab43{
    position: absolute;
    margin-left: 100px;
    margin-top: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab44{
    position: absolute;
    margin-left: 320px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: white;
    border: solid 1px rgb(76,95,230) ;
    color:rgb(76,95,230);
    font-weight: bolder;
}
.tab44:hover{
    background-color: blue;
    color: white;
}
.tab45{
    position: absolute;
    margin-left: 320px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab46{
    height: 130px;
    width: 400px;
    position: absolute;
    margin-top: 150px;
    margin-left: 10px;
}
.tab47{
    position: absolute;
    height: 70px;
    width: 70px;
}
.tab48{
    position: absolute;
    margin-left: 100px;
    width: 190px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab49{
    position: absolute;
    margin-left: 100px;
    margin-top: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab411{
    position: absolute;
    margin-left: 320px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: white;
    border: solid 1px rgb(76,95,230) ;
    color:rgb(76,95,230);
    font-weight: bolder;
}
.tab411:hover{
    background-color: blue;
    color: white;
}
.tab412{
    position: absolute;
    margin-left: 320px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab418{
    height: 130px;
    width: 400px;
    position: absolute;
    margin-top: 280px;
    margin-left: 10px;
}
.tab413{
    position: absolute;
    height: 70px;
    width: 70px;
}
.tab414{
    position: absolute;
    margin-left: 100px;
    width: 190px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab415{
    position: absolute;
    margin-left: 100px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab416{
    position: absolute;
    margin-left: 320px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: white;
    border: solid 1px rgb(76,95,230) ;
    color:rgb(76,95,230);
    font-weight: bolder;
}
.tab416:hover{
    background-color: blue;
    color: white;
}
.tab417{
    position: absolute;
    margin-left: 320px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
} 
.tab419{
    height: 130px;
    width: 400px;
    position: absolute;
    margin-top: 20px;
    margin-left: 430px;
}
.tab420{
    position: absolute;
    height: 70px;
    width: 70px;
}
.tab421{
    position: absolute;
    margin-left: 100px;
    width: 190px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab422{
    position: absolute;
    margin-left: 100px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab423{
    position: absolute;
    margin-left: 320px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: white;
    border: solid 1px rgb(76,95,230) ;
    color:rgb(76,95,230);
    font-weight: bolder;
}
.tab423:hover{
    background-color: blue;
    color: white;
}
.tab424{
    position: absolute;
    margin-left: 320px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
} 
.tab425{
    height: 130px;
    width: 400px;
    position: absolute;
    margin-top: 150px;
    margin-left: 430px;
}
.tab426{
    position: absolute;
    height: 70px;
    width: 70px;
}
.tab427{
    position: absolute;
    margin-left: 100px;
    width: 190px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab428{
    position: absolute;
    margin-left: 100px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab429{
    position: absolute;
    margin-left: 320px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: white;
    border: solid 1px rgb(76,95,230) ;
    color:rgb(76,95,230);
    font-weight: bolder;
}
.tab429:hover{
    background-color: blue;
    color: white;
}
.tab430{
    position: absolute;
    margin-left: 320px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
} 
.tab431{
    height: 130px;
    width: 400px;
    position: absolute;
    margin-top: 280px;
    margin-left: 430px;
}
.tab432{
    position: absolute;
    height: 70px;
    width: 70px;
}
.tab433{
    position: absolute;
    margin-left: 100px;
    width: 190px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab434{
    position: absolute;
    margin-left: 100px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab435{
    position: absolute;
    margin-left: 320px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: white;
    border: solid 1px rgb(76,95,230) ;
    color:rgb(76,95,230);
    font-weight: bolder;
}
.tab435:hover{
    background-color: blue;
    color: white;
}
.tab436{
    position: absolute;
    margin-left: 320px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab437{
    height: 130px;
    width: 400px;
    position: absolute;
    margin-top: 20px;
    margin-left: 830px;
}
.tab438{
    position: absolute;
    height: 70px;
    width: 70px;
}
.tab439{
    position: absolute;
    margin-left: 100px;
    width: 190px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab440{
    position: absolute;
    margin-left: 100px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab441{
    position: absolute;
    margin-left: 320px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: white;
    border: solid 1px rgb(76,95,230) ;
    color:rgb(76,95,230);
    font-weight: bolder;
}
.tab441:hover{
    background-color: blue;
    color: white;
}
.tab442{
    position: absolute;
    margin-left: 320px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
} 
.tab443{
    height: 130px;
    width: 400px;
    position: absolute;
    margin-top: 150px;
    margin-left: 830px;
}
.tab444{
    position: absolute;
    height: 70px;
    width: 70px;
}
.tab445{
    position: absolute;
    margin-left: 100px;
    width: 190px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab446{
    position: absolute;
    margin-left: 100px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab447{
    position: absolute;
    margin-left: 320px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: white;
    border: solid 1px rgb(76,95,230) ;
    color:rgb(76,95,230);
    font-weight: bolder;
}
.tab447:hover{
    background-color: blue;
    color: white;
}
.tab448{
    position: absolute;
    margin-left: 320px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
} 
.tab449{
    height: 130px;
    width: 400px;
    position: absolute;
    margin-top: 280px;
    margin-left: 830px;
}
.tab450{
    position: absolute;
    height: 70px;
    width: 70px;
}
.tab451{
    position: absolute;
    margin-left: 100px;
    width: 190px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab452{
    position: absolute;
    margin-left: 100px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab453{
    position: absolute;
    margin-left: 320px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: white;
    border: solid 1px rgb(76,95,230) ;
    color:rgb(76,95,230);
    font-weight: bolder;
}
.tab453:hover{
    background-color: blue;
    color: white;
}
.tab454{
    position: absolute;
    margin-left: 320px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
} 
#tab5{
    position: absolute;
    margin-top: 780px;
    height: 60px;
    width: 1260px;
}
.tab51{
    position: absolute;
    width: 300px;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(36,44,81);
}
.tab52{
    position: absolute;
    width: 100px;
    margin-left: 600px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(94,110,232);
}
.tab53{
    position: absolute;
    width: 400px;
    margin-left: 680px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(36,44,81);
}
.tab54{
    position: absolute;
    width: 80px;
    margin-left: 1180px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(94,110,232);
}
#tab6{
    width: 310px;
    position: absolute;
    margin-top: 860px;
    margin-left: 40px;
    background-color: white;
    border-radius: 10px;
}
.tab60{
    height:80px;
    background-color: rgb(229,232,248);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tab61{
    height: 70px;
    width: 70px;
    position: absolute;
    margin-top: 5px;
}
.tab62{
    position: absolute;
    margin-left: 200px;
    width: 60px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: white;
    border: solid 1px rgb(76,95,230) ;
    color:rgb(76,95,230);
    font-weight: bolder;
}
.tab62:hover{
    background-color: blue;
    color: white;
}
.tab63{
    position: absolute;
    margin-left: 200px;
    width: 60px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab64{
    margin-left: 10px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab64:hover{
    color: blue;
}
.tab65{
    margin-left: 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab66{
    margin-left: 10px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80,80,80);
}
.tab67{
    margin-left: 10px;
    position: absolute;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80,80,80);
}
.tab68{
    position: relative;
    left: 200px;
    bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80,80,80);
}
.tab69{
    position: relative;
    left: 200px;
    bottom: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80,80,80);
}
#tab7{
    width: 310px;
    position: absolute;
    margin-top: 860px;
    margin-left: 360px;
    background-color: white;
    border-radius: 10px;
}
.tab70{
    height:80px;
    background-color: rgb(229,232,248);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tab71{
    height: 70px;
    width: 70px;
    position: absolute;
    margin-top: 5px;
}
.tab72{
    position: absolute;
    margin-left: 200px;
    width: 60px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: white;
    border: solid 1px rgb(76,95,230) ;
    color:rgb(76,95,230);
    font-weight: bolder;
}
.tab72:hover{
    background-color: blue;
    color: white;
}
.tab73{
    position: absolute;
    margin-left: 200px;
    width: 60px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab74{
    margin-left: 10px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab74:hover{
    color: blue;
}
.tab75{
    margin-left: 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab76{
    margin-left: 10px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80,80,80);
}
.tab77{
    margin-left: 10px;
    position: absolute;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80,80,80);
}
.tab78{
    position: relative;
    left: 200px;
    bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80,80,80);
}
.tab79{
    position: relative;
    left: 200px;
    bottom: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80,80,80);
}
#tab8{
    width: 310px;
    position: absolute;
    margin-top: 1160px;
    margin-left: 40px;
    background-color: white;
    border-radius: 10px;
}
.tab80{
    height:80px;
    background-color: rgb(229,232,248);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tab81{
    height: 70px;
    width: 70px;
    position: absolute;
    margin-top: 5px;
}
.tab82{
    position: absolute;
    margin-left: 200px;
    width: 60px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: white;
    border: solid 1px rgb(76,95,230) ;
    color:rgb(76,95,230);
    font-weight: bolder;
}
.tab82:hover{
    background-color: blue;
    color: white;
}
.tab83{
    position: absolute;
    margin-left: 200px;
    width: 60px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab84{
    margin-left: 10px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}.tab84:hover{
    color: blue;
}
.tab85{
    margin-left: 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab86{
    margin-left: 10px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80,80,80);
}
.tab87{
    margin-left: 10px;
    position: absolute;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80,80,80);
}
.tab88{
    position: relative;
    left: 200px;
    bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80,80,80);
}
.tab89{
    position: relative;
    left: 200px;
    bottom: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80,80,80);
}
#tab9{
    width: 310px;
    position: absolute;
    margin-top: 1160px;
    margin-left: 360px;
    background-color: white;
    border-radius: 10px;
}
.tab90{
    height:80px;
    background-color: rgb(229,232,248);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tab91{
    height: 70px;
    width: 70px;
    position: absolute;
    margin-top: 5px;
}
.tab92{
    position: absolute;
    margin-left: 200px;
    width: 60px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: white;
    border: solid 1px rgb(76,95,230) ;
    color:rgb(76,95,230);
    font-weight: bolder;
}
.tab92:hover{
    background-color: blue;
    color: white;
}
.tab93{
    position: absolute;
    margin-left: 200px;
    width: 60px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab94{
    margin-left: 10px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab94:hover{
    color: blue;
}
.tab95{
    margin-left: 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab96{
    margin-left: 10px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80,80,80);
}
.tab97{
    margin-left: 10px;
    position: absolute;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80,80,80);
}
.tab98{
    position: relative;
    left: 200px;
    bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80,80,80);
}
.tab99{
    position: relative;
    left: 200px;
    bottom: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80,80,80);
}
#tab10{
    position: absolute;
    height: 232.4px;
    width: 540px;
    border-radius: 10px;
    margin-top: 860px;
    margin-left: 680px;
    background-color: rgb(255,236,135);
}
.tab101{
    position: absolute;
    margin-top: 30px;
    margin-left: 280px;
    max-width: 50%;
    height: auto;
}
.tab102{
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab103{
    position: absolute;
    margin-top: 110px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
#tab11{
    position: absolute;
    margin-top: 1100px;
    margin-left: 900px;
    height: 300px;
    width:360px 
}
.tab110{
    position: relative;
    width: 200px;
    right: 210px;
    top: 40px;
}
.tab111{
    position: absolute;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(36,44,81);
}
.tab112{
    position: absolute;
    margin-left: 500px;
    width: 60px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(94,110,232);
}
.tab113{
    position: absolute;
    margin-top: 100px;
}
.tab114{
    height: 70px;
    width: 70px;
    position: relative;
    right: 210px;
    top: 10px;
}
.tab115{
    position: relative;
    bottom:60px;
    right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab116{
    position: relative;
    bottom:50px ;
    right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab117{
    position: relative;
    left:270px;
    bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: white;
    border: solid 1px rgb(76,95,230) ;
    color:rgb(76,95,230);
    font-weight: bolder;
}
.tab117:hover{
    background-color: blue;
    color: white;
}
.tab118{
    position: relative;
    left: 270px;
    bottom:80px;
    width: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab119{
    position: absolute;
    margin-top: 212px;
}
.tab120{
    height: 70px;
    width: 70px;
    position: relative;
    right: 210px;
    top: 10px;
}
.tab121{
    position: relative;
    bottom:60px;
    right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab122{
    position: relative;
    bottom:50px ;
    right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab123{
    position: relative;
    left:270px;
    bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: white;
    border: solid 1px rgb(76,95,230) ;
    color:rgb(76,95,230);
    font-weight: bolder;
}
.tab123:hover{
    background-color: blue;
    color: white;
}
.tab124{
    position: relative;
    left: 270px;
    bottom:80px;
    width: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
#tab12{
    position: absolute;
    height: 60px;
    width: 1260px;
    margin-top: 1450px;
}
.tab1200{
    position: absolute;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(36,44,81);
}
.tab1210{
    position: absolute;
    margin-left: 1180px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(94,110,232);
}
#tab13{
    height:300px ;
    width: 400px;
    position: absolute;
    margin-top: 1500px;
}
.tab130{
    position: absolute;
    margin-left: 40px;
    border-radius: 10px;
    width: 320px;
    height: 207px;
}
.tab131{
    position: absolute;
    margin-top: 230px;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab132{
    position: absolute;
    margin-top: 260px;
    margin-left: 40px; 
    font-family: Arial, Helvetica, sans-serif; 
    color: rgb(165,165,181);
}
#tab14{
    height:300px ;
    width: 400px;
    position: absolute;
    margin-top: 1500px;
    margin-left: 430px;
}
.tab140{
    position: absolute;
    margin-left: 60px;
    border-radius: 10px;
    height: 207px;
    width: 305px;
    object-fit: cover;
}
.tab141{
    position: absolute;
    margin-top: 230px;
    margin-left: 60px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab142{
    position: absolute;
    margin-top: 280px;
    margin-left: 60px;  
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
#tab15{
    height:300px ;
    width: 400px;
    position: absolute;
    margin-top: 1500px;
    margin-left: 860px;
}
.tab150{
    position: absolute;
    margin-left: 65px;
    border-radius: 10px;
    height: 207px;
    width: 305px;
    object-fit: cover;
}
.tab151{
    position: absolute;
    margin-top: 230px;
    margin-left: 65px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab152{
    position: absolute;
    margin-top: 260px;
    margin-left: 65px; 
    font-family: Arial, Helvetica, sans-serif; 
    color: rgb(165,165,181);
}
#tab16{
    position: absolute;
    height: 60px;
    width: 1260px;
    margin-top: 1850px;
}
.tab160{
    position: absolute;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(36,44,81);
}
.tab161{
    position: absolute;
    margin-left: 1180px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(94,110,232);
}
#tab17{
    margin-top: 1920px;
    height:600px ;
    width: 600px;
    position: absolute;
}
.tab170{
    border-radius: 10px;
    margin-left: 40px;
    height: 560px;
    width: 560px;
    position: absolute;
    object-fit: cover;
}
.tab171{
    position: absolute;
    margin-left: 60px;
    margin-top: 300px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: white;
    color:rgb(165,165,181);
}
.tab171:hover{
    background-color: blue;
    color: white;
}
.tab172{
    position: absolute;
    color: white;
    margin-left: 60px;
    margin-top: 340px;
    width: 490px;
    font-family: Arial, Helvetica, sans-serif;
}
.tab172:hover{
    color: rgb(76,95,230);
}
.tab173{
    position: absolute;
    color: white;
    margin-left: 60px;
    margin-top: 500px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab174{
    position: absolute;
    margin-left: 500px;
    margin-top: 480px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: white;
    border: solid 1px rgb(76,95,230) ;
    color:rgb(76,95,230);
    font-weight: bolder;
}
.tab174:hover{
    background-color: blue;
    color: white;
}
.tab175{
    position: absolute;
    color: white;
    margin-left: 500px;
    margin-top: 520px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
#tab18{
    position: absolute;
    height: 180px;
    width: 580px;
    background-color:white;
    border-radius: 10px;
    margin-top: 1920px;
    margin-left: 650px;
}
.tab180{
    border-radius: 10px;
    position: absolute;
    height: 180px;
    width: 230px;
}
.tab181{
    position: absolute;
    margin-left: 260px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: white;
    border: solid 1px rgb(165,165,181) ;
    color:rgb(165,165,181);
}
.tab181:hover{
    background-color: blue;
    color: white;
}
.tab182{
    position: absolute;
    margin-left: 255px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab182:hover{
    color: rgb(76,95,230);
}
.tab183{
    position: absolute;
    margin-left: 255px;
    margin-top: 120px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab184{
    position: absolute;
    margin-left: 490px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: white;
    border: solid 1px rgb(76,95,230) ;
    color:rgb(76,95,230);
    font-weight: bolder;
}
.tab184:hover{
    background-color: blue;
    color: white;
}
.tab185{
    position: absolute;
    margin-left: 490px;
    margin-top: 135px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
#tab19{
    position: absolute;
    height: 180px;
    width: 580px;
    background-color:white;
    border-radius: 10px;
    margin-top: 2110px;
    margin-left: 650px;
}
.tab190{
    border-radius: 10px;
    position: absolute;
    height: 180px;
    width: 230px;
}
.tab191{
    position: absolute;
    margin-left: 260px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: white;
    border: solid 1px rgb(165,165,181) ;
    color:rgb(165,165,181);
}
.tab191:hover{
    background-color: blue;
    color: white;
}
.tab192{
    position: absolute;
    margin-left: 255px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab192:hover{
    color: rgb(76,95,230);
}
.tab193{
    position: absolute;
    margin-left: 255px;
    margin-top: 120px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab194{
    position: absolute;
    margin-left: 490px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: white;
    border: solid 1px rgb(76,95,230) ;
    color:rgb(76,95,230);
    font-weight: bolder;
}
.tab194:hover{
    background-color: blue;
    color: white;
}
.tab195{
    position: absolute;
    margin-left: 490px;
    margin-top: 135px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
#tab20{
    position: absolute;
    height: 180px;
    width: 580px;
    background-color:white;
    border-radius: 10px;
    margin-top: 2300px;
    margin-left: 650px;
}
.tab200{
    border-radius: 10px;
    position: absolute;
    height: 180px;
    width: 230px;
}
.tab201{
    position: absolute;
    margin-left: 260px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: white;
    border: solid 1px rgb(165,165,181) ;
    color:rgb(165,165,181);
}
.tab201:hover{
    background-color: blue;
    color: white;
}
.tab202{
    position: absolute;
    margin-left: 255px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab202:hover{
    color: rgb(76,95,230);
}
.tab203{
    position: absolute;
    margin-left: 255px;
    margin-top: 120px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
.tab204{
    position: absolute;
    margin-left: 490px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: white;
    border: solid 1px rgb(76,95,230) ;
    color:rgb(76,95,230);
    font-weight: bolder;
}
.tab204:hover{
    background-color: blue;
    color: white;
}
.tab205{
    position: absolute;
    margin-left: 490px;
    margin-top: 135px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165,165,181);
}
#tab21{
    position: absolute;
    height: 60px;
    width: 1260px;
    margin-top: 2550px;
}
.tab210{
    position: absolute;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(36,44,81);
}
.tab211{
    position: absolute;
    margin-left: 1180px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(94,110,232);
}
#tab22{
    position: absolute;
    height: 350px;
    width: 500px;
    margin-top: 2620px;
}
.tab220{
    position: absolute;
    max-width: 70%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 40px;
    color: white;
}
.tab220:hover{
    content: url(./Img/Untitled\ \(2\).png);
}
.tab221{
    position: absolute;
    margin-left: 40px;
    margin-top: 250px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: white;
    border: solid 1px rgb(165,165,181) ;
    color:rgb(165,165,181);
}
.tab221:hover{
    background-color: blue;
    color: white;
}
.tab222{
    position: absolute;
    margin-left: 40px;
    margin-top: 280px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab222:hover{
    color: rgb(76,95,230);
}
.tab223{
    position: absolute;
    margin-left: 40px;
    margin-top: 320px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80,80,80);
}
#tab23{
    position: absolute;
    height: 350px;
    width: 500px;
    margin-top: 2620px;
    margin-left: 460px;
}
.tab230{
    position: absolute;
    width: 350px;
    height: 197px;
    object-fit: cover;
    border-radius: 10px;
}
.tab230:hover{
    content: url(./Img/Untitled\ \(4\).png);
}
.tab231{
    position: absolute;
    margin-top: 250px;
    width: 130px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: white;
    border: solid 1px rgb(165,165,181) ;
    color:rgb(165,165,181);
}
.tab231:hover{
    background-color: blue;
    color: white;
}
.tab232{
    position: absolute;
    margin-top: 280px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab232:hover{
    color: rgb(76,95,230);
}
.tab233{
    position: absolute;
    margin-top: 320px;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80,80,80);
}
#tab24{
    position: absolute;
    height: 350px;
    width: 300px;
    margin-top: 2620px;
    margin-left: 880px;
}
.tab240{
    position: absolute;
    width: 350px;
    height: 197px;
    object-fit: cover;
    border-radius: 10px;
}
.tab240:hover{
    height: 197px;
    width: 350px;
    content: url(./Img/Untitled\ \(3\).png);
}
.tab241{
    position: absolute;
    margin-top: 250px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: white;
    border: solid 1px rgb(165,165,181) ;
    color:rgb(165,165,181);
}
.tab241:hover{
    background-color: blue;
    color: white;
}
.tab242{
    position: absolute;
    margin-top: 280px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56,62,95);
}
.tab242:hover{
    color: rgb(76,95,230);
}
.tab243{
    position: absolute;
    margin-top: 320px;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80,80,80);
}
.tab244{
    position: absolute;
    margin-left: 60px;
    margin-top: 250px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: white;
    border: solid 1px rgb(165,165,181) ;
    color:rgb(165,165,181);
}
.tab244:hover{
    background-color: blue;
    color: white;
}
#all{
    height: 3000px;
    width: 1260px;
    background-color:rgb(249,248,253);
    border-radius: 10px;
}
#tab25{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}








